body {
    position: relative;
    background-color: rgba(253, 253, 253, 0);
    background-blend-mode: overlay;
    background-size: cover;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(image\(1\).jpg);
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    height: 100vh;
    position: fixed;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.372);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    top: 50%;
}
.form-header {
    text-align: center;
    margin-bottom: 20px;
}
.form-header h2 {
    margin-bottom: 10px;
}
.error {
    color: red;
}
.form-group{
    font-weight: 700;
}
.title{
    font-weight: 700;
}
.sub-title{
    font-weight: 650;
}